.App {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #939393;
  padding: 10px 0;
  flex-direction: column;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  margin: 10px 10px 0;
  border-radius: 10px;
  width: 120px;
  height: 42px;
  border: 0;
}
h1 {
  width: fit-content;
  background-color: rgba(255, 255, 0, 0.782);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
.controls {
  display: flex;
  justify-content: center;
  justify-items: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
